<div class="page-logo">
    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
        <img src="~/Images/@(ApplicationSettings.Theme.Logo)" alt="@ApplicationSettings.ApplicationTitle" aria-roledescription="logo" style="width: 24px; height: 24px;">
        <span class="page-logo-text mr-1">@ApplicationSettings.ApplicationTitle</span>
        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">@ApplicationSettings.ApplicationSlogan</span>
    </a>
</div>