@model SchoolWiz.WebApp.Models.AccountStatus.AccountStatusDeleteViewModel

<input asp-for="Id" hidden />
<input asp-for="Name" hidden />

<p>Are you sure you want to delete Account Status <strong>@Model.Name</strong>?</p>
