@model SchoolWiz.WebApp.Models.Home.HomeViewModel

@{
    ViewData["Title"] = "Welcome";
    ViewData["PageName"] = "home_index";
    ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Welcome: ShoolWiz</span>";
}