@model SchoolWiz.WebApp.Models.Province.ProvinceDeleteViewModel

<input asp-for="Id" hidden />
<input asp-for="Name" hidden />

<p>Are you sure you want to delete Province <strong>@Model.Name</strong>?</p>