@model SchoolWiz.WebApp.Models.Country.CountryDeleteViewModel

<input asp-for="Id" hidden />
<input asp-for="Name" hidden />

<p>Are you sure you want to delete Country <strong>@Model.Name</strong>?</p>