@model SchoolWiz.Web.Models.City.CityEditViewModel

@{ ViewBag.Title = "Edit City";}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="City" asp-action="Index">Province List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit City</li>
                </ol>
            </nav><br /><br />
            <form method="post" enctype="multipart/form-data" asp-controller="City" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="CountryId" class="form-text"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <select id="cityEditCountryList" class="selectpicker form-control w-100" data-width="100%" asp-for="CountryId" asp-items="@Model.Countries" onchange="siteJs.getCountryProvincesCityEdit('@Url.Action("GetProvincesForCountry", "Province")', '@Model.ProvinceId');">
                            <option>-- Select a Country --</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-1">
                        <label asp-for="ProvinceId" class="form-text"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <select id="cityEditProvinceList" class="selectpicker form-control w-100" data-width="100%" asp-for="ProvinceId">
                            <option>-- Select a Province --</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="Name" class="form-text"></label>
                    </div>
                    <div class="form-group col-md-11">
                        <input class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="CreatedBy" class="form-text"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input class="form-control" asp-for="CreatedBy" readonly />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-1">
                        <label asp-for="CreatedDate" class="form-text"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input class="form-control" asp-for="CreatedDate" readonly />
                    </div>
                </div>
                @if (Model.ModifiedById != null)
                {
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label asp-for="ModifiedBy" class="form-text"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="form-control" asp-for="ModifiedBy" readonly />
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="ModifiedDate" class="form-text"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="form-control" asp-for="ModifiedDate" readonly />
                        </div>
                    </div>
                }
                <div class="form-row">
                    <div class="col-md-1"></div>
                    <div class="custom-control custom-checkbox" style="margin-left: 0.7em;">
                        <input type="checkbox" class="custom-control-input" asp-for="InActive">
                        <label class="custom-control-label" asp-for="InActive"></label>
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary float-left"><i class="fas fa-save"></i> Save</button>
                    <a class="btn btn-success float-right" asp-controller="City" asp-action="Index"><i class="fas fa-caret-square-left" style="margin-right: 0.7em"> Back</i></a>
                </div><br /><br />
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#cityEditCountryList').trigger('change');
    });
</script>
