@page
@model RegisterModel
@{
    ViewData["PageName"] = "register";
}

@section PageHeading {
    <div class="col-xl-12">
        <h2 class="fs-xxl fw-500 text-white text-center">
            Create account
        </h2>
    </div>
}

<div class="col-xl-6 ml-auto mr-auto">
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
            <div class="form-group row">
                <div class="col-6 pr-1">
                    <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="First Name" required />
                    <span class="invalid-feedback" asp-validation-for="Input.FirstName">First name is required.</span>
                </div>
                <div class="col-6 pl-1">
                    <input type="text" asp-for="Input.MiddleName" class="form-control" placeholder="Middle Name" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6 pr-1">
                    <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Last Name" required />
                    <span class="invalid-feedback" asp-validation-for="Input.LastName">Last name is required.</span>
                </div>
                <div class="col-6 pl-1">
                    <input type="text" asp-for="Input.IdentityNumber" class="form-control" placeholder="Identity Number" required />
                    <span class="invalid-feedback" asp-validation-for="Input.IdentityNumber">Sorry, you missed this one.</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6 pr-1">
                    <input type="text" asp-for="Input.MobileNumber" class="form-control" placeholder="Mobile Number" required />
                    <span class="invalid-feedback" asp-validation-for="Input.MobileNumber">Last name is required.</span>
                </div>
                <div class="col-6 pl-1">
                </div>
            </div>
            <div class="form-group">
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email" required />
                <span class="invalid-feedback" asp-validation-for="Input.Email">Sorry, you missed this one.</span>
                <div class="help-block">Your email will also be your username</div>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" required />
                <span class="invalid-feedback" asp-validation-for="Input.Password">Password is required.</span>
                <div class="help-block">Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emojis.</div>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" required />
                <span class="invalid-feedback" asp-validation-for="Input.ConfirmPassword">Password must be confirmed.</span>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6 ml-auto text-right">
                    <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-login-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
