@model SchoolWiz.WebApp.Models.GuardianType.GuardianTypeDeleteViewModel

<input asp-for="Id" hidden />
<input asp-for="Name" hidden />

<p>Are you sure you want to delete Guardian Type <strong>@Model.Name</strong>?</p>